[submodule "CasoCavallo"]
	path = CasoCavallo
	url = https://github.com/rodolfopietro97/CasoCavallo.git
[submodule "Cummare"]
	path = Cummare
	url = https://github.com/rodolfopietro97/Cummare
[submodule "Fatigature"]
	path = Fatigature
	url = https://github.com/rodolfopietro97/Fatigature.git
[submodule "Picinusu"]
	path = Picinusu
	url = https://github.com/rodolfopietro97/Picinusu.git
